/* CSS HEX
--orange-crayola: #ff6b35ff;
--peach-crayola: #f7c59fff;
--beige: #efefd0ff;
--usafa-blue: #004e89ff;
--sapphire-blue: #1a659eff;

font-family: 'Anton', sans-serif;


 */

body {
    display: flex; 
    justify-content: center;
    margin: auto;
    background: url(img/left.png) no-repeat fixed bottom left, url(img/right.png) no-repeat fixed bottom right;
    background-color: #1a659eff;
    background-size: 60%;
}

h1 {
    color: #efefd0ff;
}
.container {
    display: flex; 
    max-width: 980px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    min-height: 200px;
    min-width: 150px;
    margin: 10px;
    border: solid 6px #efefd0ff;
    border-radius: 15px; 
    box-shadow: 15px 30px 12px -3px rgb(21, 28, 32);
}

.box:hover {
    transform: translateY(-12px) translateX(-12px);
}
.box:active {
    box-shadow: 15px 30px 12px -3px rgb(21, 28, 32);
    transform: translateY(-6px) translateX(-6px);
  }


#a{
    width: 96%;
    background-color: #ff6b35ff;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-shadow: 6px 6px 6px rgb(122, 54, 29);
}

#b{
    min-width: 46%;
    background-color:#f7c59fff;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #ff6b35ff;
    text-shadow: 6px 6px 6px rgb(122, 54, 29);
}

#c{
    min-width: 46% ;
    background-color:#f7c59fff;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #ff6b35ff;
    text-shadow: 6px 6px 6px rgb(122, 54, 29);
}

#d{
    background-color:#f7c59fff;
    min-width: 30%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #ff6b35ff;
    text-shadow: 6px 6px 6px rgb(122, 54, 29);
}

#e {

  background-color:#f7c59fff;
  min-width: 30%;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #ff6b35ff;
  text-shadow: 6px 6px 6px rgb(122, 54, 29);
}

#f {
    background-color:#f7c59fff;
    min-width: 30%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #ff6b35ff;
    text-shadow: 6px 6px 6px rgb(122, 54, 29);
}

#g{
    background-color:#f7c59fff;
    min-width: 30%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #ff6b35ff;
    text-shadow: 6px 6px 6px rgb(122, 54, 29);
}

#h{
    background-color:#f7c59fff;
    min-width: 30%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #ff6b35ff;
    text-shadow: 6px 6px 6px rgb(122, 54, 29);
}